<div class="container rounded">
  <div class="row">
        <div class="col-lg-12 text-center" id="header">
            <h1>EAT DA BURGER!</h1>
        </div>
  </div>

<p>
</p>

  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Burgers to devour!</h2>
    </div>
    <div class="col-md-6 text-center">
        <h2>Burgers you've eaten!</h2>
    </div>
  </div>

  <div class="row">


    <div class="col-xs-6 text-center">
        <ul>
        {{#each burger}}
          {{#unless this.devoured}}
            <li>{{this.burger_name}}
                <button class="btn" id="devour" data-id={{this.id}}>DEVOUR IT!</button>
            </li>
        <br>
            {{/unless}}
        {{/each}}
        </ul>
    </div>

    <div class="col-md-6 text-center">
        <ul>
        {{#each burger}}
          {{#if this.devoured}}
              <li>
                {{this.burger_name}}
              </li>
            <br>
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>

<p>
</p>

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Add a Burger</h2>
      <form class="create-update-form" action="burgers/create" method="POST">

        <div class="form-group">
          <label for="bu">Burger Name:</label>
          <input type="text" id="newBurger" name="burger_name">
        </div>

        <button type="submit" class="btn btn-success">Add Burger</button>
      </form>
    </div>
   </div>
  </div>
</div>
