* {
    box-sizing: border-box;
  }

body {
    background-image: url("../img/burgerbackground.jpg") !important;
}

.container {
    background-color: #FDDD7E;
    width: 65%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#kawaii-burger {
    width: 40%;
    height: auto;
}

h1, h2 {
    font-family: 'Fredoka One', cursive;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 220%;
}

li {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 155%;
}

#devour {
    font-family: 'Fredoka One', cursive;
}

#addBurger {
    font-family: 'Fredoka One', cursive;
    font-size: 110%;
}

.form-group {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 155%;
}